@use "../scss/index" as *;

.Infos {
  @extend .center-vertically;
  padding: 3rem 1rem;

  @media only screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }

  .warpper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    gap: 3rem;
  }

  .container {
    @extend .center-vertically;

    @include breakpoints(mobile) {
      width: 100%;
    }

    .icon {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      display: inline-block;
      padding: 1rem;
      background-color: #ff9000;
      font-size: 4rem;
      margin-bottom: 1rem;
    }
  }
}
