@use "../scss/index" as *;

.Menu {
  @extend .center-vertically;

  .header {
    font-size: 2.25rem;
    color: #000000;
    margin: 2rem 0;
    text-align: center;

    @include breakpoints(mobile) {
      font-size: 2rem;
    }
  }

  .sidebar {
    @include breakpoints(mobile) {
      display: none;
    }
  }

  .container {
    display: flex;
    padding: 0 1rem;
  }
}
